.home {
    background-color: #f0f0f0;
    padding-bottom: 100px;
}


.row.text-center {
    display: flex;
    justify-content: center;
    padding-top: 50px;
    padding-bottom: 10px;

}



label {
    color: #1D3557;
    font-size: 1.1rem;
    font-family: inherit;
    padding-left: 20px;
}

h5 {
    display: flex;
    justify-content: center;
    color: #ea5b23;
    font-family: inherit;
    font-size: 50px;

}


.card-img-top {
    border-radius: 10px 10px 10px 10px;
}

.categoriaRound {
    width: fit-content;
    padding: 10%;
}