.home {
    background-color: #f0f0f0;
    padding-bottom: 100px;
}


.row.text-center {
    display: flex;
    justify-content: center;
    padding-top: 50px;
    padding-bottom: 30px;

}



.card {

    display: flex;
    justify-content: left;
    box-shadow: 10px 10px 26px #f69f54, -10px -10px 26px #f69f54;
    border-radius: 10px 10px 10px 10px;
    background-color: white;
    padding-top: 20px;

}


.cardCat {
    display: flex;
    justify-content: center;
    border-radius: 10px 10px 10px 10px;
    max-width: 100px;
    min-height: 40px;
    background-color: transparent;
}

/* .cardBom {
    width: fit-content;
    padding: 5%;
}

/* teste */
/* .teste {
    padding-top: 30px;
} */

/* */
.texto {
    color: #1D3557;
    font-size: 1.1rem;
    font-family: inherit;
    padding-left: 20px;

}

*/ label {
    color: #ea5b23;
    font-weight: bold;
    font-family: inherit;
    padding-left: 30px;
    font-size: 15px;
}

h5 {
    display: flex;
    justify-content: center;
    color: #ea5b23;
    font-weight: bold;
    font-family: inherit;
    font-size: 50px;

}



/* .imagem {
    padding-top: 2%;
    padding-left: 20%;
    padding-right: 20%;
    padding-bottom: 2%;

} */

.card-img-top {
    border-radius: 10px 10px 10px 10px;
}