<div class="home">

    <header class="row text-center header ">
        <div class="row text-center">
            <div *ngFor="let categoria of categorias" class="col-md-1">
                <div class="cardCat h-50">
                    <div style="align-content:center;">
                        <a [routerLink]="['/Produtos-Categoria',categoria.id]">
                            <img class="cardBom" src="{{categoria.imagem}}" height="100px" width="100 px" alt="">
                        </a>
                        <a [routerLink]="['/Produtos-Categoria',categoria.id]">
                            <h4 class="textoCat">{{categoria.nome | titlecase}}</h4>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- <div class="banner_inferior">
            <a href="https://www.instagram.com/reidosbichinhos/" target="_blank" class=""> <img class="d-block w-100"
                    style=" border-radius: 15px" src="/assets/banner_inferior2.png" height="250px">
            </a>
        </div> -->

    <div class="container main-container2">
        <div class="teste">
            <div class="h-12">
                <div class="card h-00">

                    <div class="text-center">
                        <!-- <img src="{{ produto.imagem }}" height="164px" width="253 px" alt=""> -->

                        <img class="cardBom " src="{{ produto.imagem }}" height="600px" width="600px" alt="">
                    </div>
                    <h4 class="card-title text-center">{{produto.nome | titlecase}}</h4>
                    <div class="row"> <label>Descrição:</label>
                        <p class="texto1">{{produto.descricao}}</p>
                    </div>
                    <div class="row"> <label>Categoria: </label>
                        <div class="" *ngFor="let categoria of categorias">
                            <p class="texto" *ngIf="categoria.id === produto.id_categoria">{{categoria.nome}}</p>
                        </div>
                    </div>
                    <div class="row"> <label>Altura: </label>
                        <p class="texto">{{produto.alturaCm}} centímetros</p>
                    </div>
                    <div class="row"> <label>Largura: </label>
                        <p class="texto">{{produto.larguraCm}} centímetros</p>
                    </div>
                    <div class="row"> <label>Peso: </label>
                        <p class="texto">{{produto.pesoGr}} gramas</p>
                    </div>


                    <div class="text-center" [ngSwitch]="produto.promocao ">
                        <p class="promo1" *ngSwitchCase="true">Promoção</p>
                        <p class="promo2" *ngSwitchCase="false">Por Apenas</p>
                    </div>
                    <div *ngIf="produto.promocao" class="card-body">
                        <div class="text-center">
                            <h3 class="card-text"> De:
                                <small><del> {{produto.valor | currency: 'BRL'}}</del></small>
                                Por: {{produto.valorPromo | currency: 'BRL'}}
                            </h3>
                        </div>
                    </div>
                    <div *ngIf="!produto.promocao" class="card-body">
                        <div class="text-center">
                            <h3 class="card-text">{{produto.valor | currency: 'BRL'}}</h3>
                        </div>
                    </div>
                    <div class="card-footer text-center">
                        <a class="btn" [routerLink]="['/Carrinho-Compras', produto.id]">
                            <span class="fa fa-shopping-cart"></span>
                            Comprar
                        </a>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>