.bg-secondary1 {

    padding-top: 80px;
    display: flex;
    justify-content: center;

}

.header {

    background-color: #f0f0f0;
    padding-top: 80px;
    display: flex;
    justify-content: center;
    padding-bottom: 10px;


}

.cardCat a {
    text-decoration: none;
}

.textoCat {
    color: #ea5b23;
    font-size: 15px;
    text-decoration: none;
}

.row.text-center {
    display: flex;
    justify-content: center;
    padding-top: 50px;
    padding-bottom: 0px;

}

.btn {
    background-color: transparent;
    border-color: #ea5b23;
    font-weight: bold;
    height: 40px;
    border-radius: 20px;
}

a.btn {
    color: #ea5b23;
}

.btn:hover {
    background-color: #ea5b23;
}

a.btn:hover {
    color: #ffffff;
}

.home {
    background-color: #f0f0f0;
}



.container main-container2 {
    padding-right: 15px;
    padding-left: 15px;
    padding-bottom: 100px;
    margin-right: auto;
    margin-left: auto;
    overflow: hidden;

}

.card {

    display: flex;
    justify-content: left;
    box-shadow: 10px 10px 26px #f69f54, -10px -10px 26px #f69f54;
    border-radius: 10px 10px 10px 10px;
    /* max-width: 1000px;
    min-height: 400px; */
    background-color: white;
}


.cardCat {
    display: flex;
    justify-content: center;
    border-radius: 10px 10px 10px 10px;
    max-width: 100px;
    min-height: 40px;
    background-color: transparent;
}

.cardBom {
    width: fit-content;
    padding: 5%;
}

/* teste */
.teste {
    padding-top: 30px;
}


.texto {
    color: #1D3557;
    font-size: 1.1rem;
    font-family: inherit;
    padding-left: 20px;

}

p.texto {
    color: #1D3557;
    font-size: 15px;
    font-family: inherit;
    padding-left: 10px;
}

p.texto1 {
    color: #1D3557;
    font-size: 15px;
    font-family: inherit;
    padding-left: 10px;
}


label {
    color: #ea5b23;
    font-weight: bold;
    font-family: inherit;
    padding-left: 30px;
    font-size: 15px;
}

h4 {
    color: #ea5b23;
    font-weight: bold;
    font-family: inherit;
    font-size: 50px;

}

h3 {
    font-weight: bold;
    font-family: inherit;
    font-size: 30px;
    color: #212529;
}

.promo1 {
    color: #ea5b23;
    font-weight: bold;
    font-family: inherit;
    font-size: 20px;

}

.promo2 {
    color: #ea5b23;
    font-weight: bold;
    font-family: inherit;
    font-size: 20px;

}

/* .imagem {
    padding-top: 2%;
    padding-left: 20%;
    padding-right: 20%;
    padding-bottom: 2%;

} */

.card-img-top {
    border-radius: 10px 10px 10px 10px;
}

.container {
    display: flex;
    justify-content: center;
    padding-bottom: 100px;
}