<div class="home">
    <div class=" container main-container">
        <header class="row text-center header ">
            <div class="row text-center">
                <div *ngFor="let categoria of categorias" class="col-md-1">
                    <div class="cardCat h-50">
                        <div style="align-content:center;">
                            <a [routerLink]="['/Produtos-Categoria',categoria.id]">
                                <img class="cardBom" src="{{categoria.imagem}}" height="100px" width="100 px" alt="">
                            </a>
                            <a [routerLink]="['/Produtos-Categoria',categoria.id]">
                                <h4 class="textoCat">{{categoria.nome | titlecase}}</h4>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <div class="banner_inferior">
            <a href="https://www.instagram.com/reidosbichinhos/" target="_blank" class=""> <img class="d-block w-100"
                    style=" border-radius: 15px" src="/assets/banner_inferior2.png" height="250px">
            </a>
        </div>

    </div>
    <div class="container main-container2">
        <div class="row text-center">
            <div class="card h-100">

                <div style="align-content:center;">
                    <!-- <img src="{{ produto.imagem }}" height="164px" width="253 px" alt=""> -->
                    <img class="cardBom" src="{{ produto.imagem }}" height="250px" width="250 px" alt="">
                </div>

                <h4 class="card-title">{{produto.nome | titlecase}}</h4>

                <div [ngSwitch]="produto.promocao">
                    <p *ngSwitchCase="true">Promoção</p>
                    <p *ngSwitchCase="false">Por Apenas</p>
                </div>

                <div *ngIf="produto.promocao" class="card-body">
                    <label>Descrição</label>
                    <p class="texto">{{produto.descricao}}</p>
                    <label>Categoria</label>
                    <div class="" *ngFor="let categoria of categorias">
                        <p *ngIf="categoria.id === produto.id_categoria">{{categoria.nome}}</p>
                    </div>
                    <label>Altura</label>
                    <p class="texto">{{produto.alturaCm}}</p>
                    <label>Largura</label>
                    <p class="texto">{{produto.larguraCm}}</p>
                    <label>Peso</label>
                    <p class="texto">{{produto.pesoGr}}</p>
                    <div>
                        <h4 class="card-text"> De:
                            <small><del>{{produto.valor | currency: 'BRL'}}</del></small>
                            Por: {{produto.valorPromo | currency: 'BRL'}}
                        </h4>
                    </div>
                </div>

                <div *ngIf="!produto.promocao" class="card-body">

                    <div>
                        <h4>{{produto.valor | currency: 'BRL'}}</h4>
                    </div>
                </div>


                <div class="card-footer">
                    <a class="btn">
                        <span class="fa fa-shopping-cart"></span> Comprar
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>