/* .main-container {

    padding-right: 15px;
    padding-left: 15px;
    padding-bottom: 100px;
    margin-right: auto;
    margin-left: auto;
    overflow: hidden;
    background-color: transparent;


} */


/* NavBar */
.bg-light1 {

    background-color: #DCDCDC;
    /* background-color: #FD814E; */
/* #A4G984 */
}

.navbar-light .navbar-nav .nav-link {
    color: #dd5303;
    font-weight: bold;
    font-size: 1.0rem;
}


#navbarResponsive {
    display: flex;
    justify-content: flex-end;

}