/* NavBar */
.bg-light1 {

    background-color: #DCDCDC;
}

.navbar-light .navbar-nav .nav-link {
    color: #dd5303;
    font-weight: bold;
    font-size: 1.0rem;
}


#navbarResponsive {
    display: flex;
    justify-content: flex-end;

}