.bgPage {
    padding-top: 100px;
    padding-bottom: 350px;
    background-color: #faf5ee;
}

.bg {
    background-color: #faf5ee;
    color: #1D3557;
}

th {
    background-color: #ea5b23;
    color: #faf5ee;
    opacity: 80%;
}

.main-containerTable {
    padding-top: 30px;
    padding-right: 15px;
    padding-left: 15px;
    padding-bottom: 50px;
    margin-right: auto;
    margin-left: auto;
    overflow: hidden;
    justify-content: space-between;
    min-height: 300px;
    background-color: transparent;
    display: flex;
    justify-content: center;
    font-weight: bold;

}

a {
    color: #ea5b23;
}



.btns1 {

    padding-top: 10px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;

}


.btns-1 {
    padding-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;

}


.btn {
    margin: auto;
    height: 45px;
    width: 220px;
    border-radius: 20px;
    background-color: #ea5b23;
    color: #faf5ee;
    font-weight: bold;
    border-color: transparent;
}

.btn1 {
    margin: auto;
    height: 45px;
    width: 200px;
    border-radius: 20px;
    background-color: #ea5b23;
    color: #faf5ee;
    opacity: 80%;
    font-weight: bold;
    border-color: transparent;
}

.btn2 {
    background-color: transparent;
    border-color: #ea5b23;
    font-weight: bold;
    width: 300px;
    height: 45px;
    border-radius: 20px;
    color: #ea5b23;
}

a.btn2 {
    color: #ea5b23;
}

.btn2:hover {
    background-color: #ea5b23;
    color: #faf5ee;
    opacity: 80%;
}

a.btn2:hover {
    color: #ffffff;
}

.btn3 {
    display: flex;
    justify-content: center;
    margin: auto;
    height: 45px;
    width: 500px;
    border-radius: 20px;
    background-color: #ea5b23;
    color: #faf5ee;
    opacity: 95%;
    font-weight: bold;
    border-color: transparent;
}

.btns-3 {
    padding-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

}

.rounded-circle {

    margin: 8px;
}

.titulo {

    display: flex;
    justify-content: center;
    margin: 8px;
    color: #ea5b23;
    font-weight: bold;
    font-family: inherit;
    font-size: 4.0rem;
    border-color: #1D3557;
}

h2 {
    color: #ea5b23;
}

.btn-criar {

    padding-top: 10px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;

}

td.quantity {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.form-control {
    background-color: #faf5ee;
    width: 40%;
    align-items: center;
    text-align: center;
}

.input-group {

    max-width: 20px;
    align-items: center;

}