<body class="bgPage ">

    <div class="container container-main container-cart">

        <div class="row titulo">
            <h1>Meu Carrinho</h1>

        </div>
        <div class="checkout-container row-fluid cart-active">
            <!-- CART -->


            <table class="table cart-items">
                <thead>
                    <tr>
                        <th colspan="2" class="product" data-i18n="global.product">
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Produto
                        </th>
                        <th class="shipping-date">Entrega</th>
                        <th class="product-price" data-i18n="global.price">
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Preço
                        </th>
                        <th class="quantity" data-i18n="global.quantity">
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Quantidade</th>
                        <th class="quantity-price" data-i18n="global.total">
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Total</th>
                        <th class="item-remove"></th>
                    </tr>
                </thead>
                <tbody class="bodyTable">
                    <!-- ko template: { name: 'cart-item-template', foreach: filteredItems, afterRender: afterCartRender } -->
                    <tr class="product-item"
                        data-bind="attr: {'data-sku': id}, availableCSS: available(), css: { 'sac-product' : window.router.sac.isActive() }"
                        rowspan="2" data-sku="94671">
                        <td>
                            <div class="d-flex align-items-center">
                                <img src="{{produto.imagem}}" alt="" style="width: 50px; height: 50px"
                                    class="rounded-circle" />
                                <div class="ms-3">

                                </div>
                            </div>
                        </td>
                        <td class="product-name sac-loading"
                            data-bind="css: { 'sac-loading' : window.cart.loadingItem() }">
                            <a [routerLink]="['/Detalhes-Produto',produto.id]">
                                <p class="fw-bold mb-1">{{produto.nome}}</p>
                            </a>
                            <div class="brand">
                                <p class="fw-bold mb-1">{{produto.descricao}}</p>
                            </div>
                            <div class="brand">
                                <p class="fw-bold mb-1">ALtura: {{produto.alturaCm}} cm</p>
                            </div>
                            <div class="brand">
                                <p class="fw-bold mb-1">Largura: {{produto.larguraCm}} cm</p>
                            </div>
                            <div class="brand">
                                <p class="fw-bold mb-1">Peso: {{produto.pesoGr}} g</p>
                            </div>

                        </td>
                        <td>
                            <p class="row">a
                                calcular</p>
                        </td>
                        <td class="product-price">
                            <div class="text-center" [ngSwitch]="produto.promocao ">
                                <p class="promo1" *ngSwitchCase="true">Promoção</p>
                                <p class="promo2" *ngSwitchCase="false">Por Apenas</p>
                            </div>
                            <div *ngIf="produto.promocao" class="card-body">
                                <div class="text-center">
                                    <div class="card-text"> De:
                                        <small><del> {{produto.valor | currency: 'BRL'}}</del></small>
                                        Por: {{produto.valorPromo | currency: 'BRL'}}
                                    </div>
                                </div>
                            </div>
                            <div *ngIf="!produto.promocao" class="card-body">
                                <div class="text-center">
                                    <div class="card-text">{{produto.valor | currency: 'BRL'}}</div>
                                </div>
                            </div>
                        </td>
                        <td class="quantity">
                            <div class="form-outline mb-4">
                                <input type="number" min="1" id="form1" class="form-control" placeholder="1" />

                            </div>
                        </td>
                        <td class="quantity-price"><b>
                                <div *ngIf="produto.promocao" class="card-body">
                                    <div class="text-center">
                                        <div class="card-text">{{produto.valorPromo | currency: 'BRL'}}</div>
                                    </div>
                                </div>
                                <div *ngIf="!produto.promocao" class="card-body">
                                    <div class="text-center">
                                        <div class="card-text">{{produto.valor | currency: 'BRL'}}</div>
                                    </div>
                                </div>
                            </b>
                            <!-- Implantar Posteriormente a remoção de linha -->
                        <td class="item-remove">
                            <div class="text-center">
                                <img src="https://cdn-icons-png.flaticon.com/512/6276/6276642.png" alt=""
                                    style="width: 30px; height: 30px">

                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>

            <div>
                <div class="cart-more-options span7">
                    <h2>Entrega</h2>
                    <i class="srp-description mw5">Veja as opções de entrega para seus itens, com todos os prazos e
                        valores.</i>
                </div> <!-- /ko -->

                <div class="btns-1">
                    <div>
                        <a class="btn btn1">Calcular o Frete</a>
                    </div>
                    <div>
                        <a class="btn btn2">Adicionar
                            cupom de desconto </a>
                    </div>
                </div>
                <div class="btns-1">
                    <div>
                        <a class="btn btn1" [routerLink]="['/Produtos-Home']">Escolher
                            mais produtos</a>
                    </div>
                </div>
                <div class="btns-3">
                    <a class="btn btn3" target="_blank"
                        href=" https://api.whatsapp.com/send/?phone=5581998015588&text=Ol%C3%A1%2C+eu+vim+do+seu+Instagram%21&type=phone_number&app_absent=0">Fechar
                        pedido
                    </a>
                </div>