/* Home */

.bg-secondary1 {

    /* background-color: #F1FAEE; */
    padding-top: 80px;
    display: flex;
    justify-content: center;

    /* background-color: #A8DADC; */
    /* opacity: 0.5; */
}

.container3 {
    display: flex;
    justify-content: right;
}

.titulo {
    color: #E63946;
    font-weight: bold;
    font-size: 3.9rem;
    font-family: fantasy;


}

.texto {
    color: #1D3557;
    font-size: 1.2rem;
    font-family: fantasy 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    /* font-weight: bold; */

}

.slogan {
    color: #E63946;
    /* font-weight: bold; */
    font-size: 2.0rem;
    font-family: fantasy;

}

.btn {
    background-color: #E63946;
    color: #E5E5E5;
    font-weight: bold;
    height: 40px;
    border-radius: 20px;
    /* transition: none; */

}

.carousel-item {
    border-radius: 100%;

}

.carousel {
    border-radius: 100%;
}

/* .home {
    background-color: #F1FAEE;

} */

.teste1 {


    margin-bottom: 60px;
    margin-top: 80px;
    /* text-align: center; */
}