/* Home */

.bg-secondary1 {

    padding-top: 80px;
    display: flex;
    justify-content: center;

}

.btn {
    background-color: transparent;
    border-color: #ea5b23;
    font-weight: bold;
    height: 40px;
    border-radius: 20px;


}

a.btn {
    color: #ea5b23;
}

.btn:hover {
    background-color: #ea5b23;

}

a.btn:hover {
    color: #ffffff;

}

.home {
    background-color: #f0f0f0;
}

.carousel-item {
    border-radius: 100%;

}

.carousel {
    border-radius: 100%;

}

.teste1 {

    margin-bottom: 60px;
    margin-top: 80px;

}

.main-container2 {
    padding-top: 50px;
    padding-right: 15px;
    padding-left: 15px;
    padding-bottom: 100px;
    margin-right: auto;
    margin-left: auto;
    overflow: hidden;

}

.card {

    display: flex;
    justify-content: center;


    box-shadow: 10px 10px 26px #f69f54, -10px -10px 26px #f69f54;
    /* box-shadow: 10px 10px 26px #e3f0f1, -10px -10px 26px #e2f1fa; */
    border-radius: 10px 10px 10px 10px;
    max-width: 1000px;
    min-height: 400px;
    background-color: white;
}

.pagination {
    display: flex;
    align-items: right;
    justify-content: center;
}

.search {
    display: flex;
    justify-content: center;

}

.input-group {

    max-width: 450px;
    align-items: center;
    padding-bottom: 30px;
    border-radius: 50%;

}

.banner_inferior {
    display: flex;
    justify-content: center;
    padding-top: 50px;
    margin-right: auto;
    margin-left: auto;

}

.cardBom {
    width: fit-content;
    padding: 9%;
}