/* Home */

.bg-secondary1 {

    /* background-color: #F1FAEE; */
    padding-top: 80px;
    display: flex;
    justify-content: center;

    /* background-color: #A8DADC; */
    /* opacity: 0.5; */
}



.btn {
    background-color: transparent;
    border-color: #ea5b23;
    font-weight: bold;
    height: 40px;
    border-radius: 20px;
    /* transition: none; */

}

.btn:hover {
    background-color: #ea5b23;


}


.carousel-item {
    border-radius: 100%;


}

.carousel {
    border-radius: 100%;

}

/* .home {
    background-color: #F1FAEE;

} */

.teste1 {


    margin-bottom: 60px;
    margin-top: 80px;
    /* text-align: center; */
}

.main-container2 {
    padding-top: 100px;
    padding-right: 15px;
    padding-left: 15px;
    padding-bottom: 100px;
    margin-right: auto;
    margin-left: auto;
    overflow: hidden;

}

.card {

    display: flex;
    justify-content: center;
    /* box-shadow: 0 30px 100px 0 rgba(29, 180, 197, 0.3); */

    box-shadow: 10px 10px 26px #e3f0f1, -10px -10px 26px #e2f1fa;
    border-radius: 10px 10px 10px 10px;
    max-width: 1000px;
    min-height: 400px;
    background-color: transparent;
}

.pagination {
    display: flex;
    align-items: right;
    justify-content: center;

}

.search {
    display: flex;
    justify-content: center;
    padding-right: 400px;
    padding-left: 400px;
    border-radius: 20%;
}

.input-group {
    border-radius: 100%;
}