<div class="home">

    <div class=" container main-container">
        <header class="row text-center bg-secondary1 py-6 mb-6 ">
            <div class="row text-center">
                <div *ngFor="let categoria of categorias" class="col-md-1">
                    <div class="cardCat h-50">
                        <div style="align-content:center;">
                            <a [routerLink]="['/Produtos-Categoria',categoria.id]">
                                <img class="cardBom" src="{{categoria.imagem}}" height="100px" width="100 px" alt="">
                            </a>
                            <!-- <img class="cardBom" src="{{categoria.imagem}}"
                                [routerLink]="['/Produtos-Categoria',categoria.id]" height="100px" width="100 px"
                                alt="">
                            <a [routerLink]="['/Produtos-Categoria',categoria.id]">
                                <h4 class="textoCat">{{categoria.nome | titlecase}}</h4>
                            </a> -->
                        </div>
                    </div>
                </div>
            </div>
        </header>

        <div class="row teste1">
            <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <a class=" "> <img class="d-block w-100 " style=" border-radius: 15px" src=" /assets/Baner1.png"
                                height="550px" alt="First slide"></a>

                    </div>
                    <div class="carousel-item">
                        <a class=" "> <img class="d-block w-100" style=" border-radius: 15px" src="/assets/Baner2.png"
                                height="550px" alt="Second slide"></a>

                    </div>
                    <div class="carousel-item">
                        <a class=""> <img class="d-block w-100" style=" border-radius: 15px" src="/assets/Baner3.png"
                                height="550px" alt="Third slide">
                        </a>
                    </div>
                </div>
                <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Anterior</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Próximo</span>
                </a>
            </div>
        </div>

    </div>
    <div class="search">

        <div class="input-group rounded src-bar">

            <input type="search" class="form-control rounded" placeholder="Pesquisar Produtos" aria-label="Pesquisar"
                aria-describedby="search-addon" (input)="pesquisar($event)" />

            <!-- Icone da lupa -->
            <span class="border-0 srch-icon" id="search-addon">
                <img width="40px" height="40px"
                    src="https://icones.pro/wp-content/uploads/2021/06/icone-loupe-orange.png" alt="">
            </span>
        </div>
    </div>
    <div class="container main-container2">
        <div class="row text-center">
            <div *ngFor="let produto of produtos | paginate: { itemsPerPage: 9, currentPage: paginaAtual }; let i = index"
                class="col-md-4" style="padding-bottom: 30px;">
                <div class="card h-100">

                    <div style="align-content:center;">
                        <!-- <img src="{{ produto.imagem }}" height="164px" width="253 px" alt=""> -->
                        <img class="cardBom" src="{{ produto.imagem }}" height="250px" width="250 px" alt="">
                    </div>

                    <!-- <a class="text-decoration-none" [routerLink]="['/produto-detalhe', produto.id]">
                        <div style="align-content:center;">
                            <img src="/assets/{{ produto.imagem }}" height="164px" width="253 px" alt="">
                        </div>
                    </a> -->
                    <h4 class="card-title">{{produto.nome | titlecase}}</h4>

                    <div [ngSwitch]="produto.promocao">
                        <p *ngSwitchCase="true">Promoção</p>
                        <p *ngSwitchCase="false">Por Apenas</p>
                    </div>

                    <div *ngIf="produto.promocao" class="card-body">

                        <div>
                            <h4 class="card-text"> De:
                                <small><del>{{produto.valor | currency: 'BRL'}}</del></small>
                                Por: {{produto.valorPromo | currency: 'BRL'}}
                            </h4>
                        </div>
                    </div>

                    <div *ngIf="!produto.promocao" class="card-body">

                        <div>
                            <h4>{{produto.valor | currency: 'BRL'}}</h4>
                        </div>
                    </div>


                    <div class="card-footer">
                        <a class="btn">
                            <span class="fa fa-shopping-cart"></span> Comprar
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="pagination fixed-botton">
            <pagination-controls (click)="onActivate($event)" (pageChange)="paginaAtual = $event"></pagination-controls>
        </div>
        <div class="banner_inferior">
            <a href="https://www.instagram.com/reidosbichinhos/" target="_blank" class=""> <img class="d-block w-100"
                    style=" border-radius: 15px" src="/assets/banner_inferior2.png" height="250px">
            </a>
        </div>
    </div>



</div>