<div class="home">
    <header class="row text-center bg-secondary1 py-6 mb-6 ">

    </header>

    <div class=" container main-container">

        <div class="row teste1">
            <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <a class=" "> <img class="d-block w-100 " style=" border-radius: 15px" src=" /assets/Baner1.png"
                                height="550px" alt="First slide"></a>

                    </div>
                    <div class="carousel-item">
                        <a class=" "> <img class="d-block w-100" style=" border-radius: 15px" src="/assets/Baner2.png"
                                height="550px" alt="Second slide"></a>

                    </div>
                    <div class="carousel-item">
                        <a class=""> <img class="d-block w-100" style=" border-radius: 15px" src="/assets/Baner3.png"
                                height="550px" alt="Third slide">
                        </a>
                    </div>
                </div>
                <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Anterior</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Próximo</span>
                </a>
            </div>
        </div>

    </div>
    <!-- 
    <div class="container main-container">
        <div class="row text-center">
            <div *ngFor="let teste" class="col-md-4" style="padding-bottom: 30px;">
                <div class="card h-100">
                    <a class="text-decoration-none" [routerLink]="['/produto-detalhe', teste.id]">
                        <div style="align-content:center;">
                            <img src="/assets/{{ teste.imagem }}" height="164px" width="253 px" alt="">
                        </div>
                    </a>
                    <div class="card-body">
                        <h4 class="card-title">{{teste.nome}}</h4>
                        <p>Por apenas</p>
                        <div>
                            <h4>R$ {{teste.valor}}</h4>
                        </div>
                    </div>
                    <div class="card-footer">
                        <a class="btn btn-primary">
                            <span class="fa fa-shopping-cart"></span> Comprar
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div> -->



</div>