<div class="Container">
    <div class="row titulo">
        <div>
            <a [routerLink]="['/Usuarios']"> <img src="/assets/logo.png" width="60px" alt=""></a>

        </div>
        <div>
            <h1>Cadatrar Usuario</h1>
        </div>
    </div>

    <form class="Form fadeInDown" [formGroup]="criarUserForm" (submit)="addUsuario()" #formDir="ngForm">

        <!-- Name input -->
        <div class="form-outline mb-4">
            <label for="form5Example1" class="form-label">E-Mail</label>
            <input type="text" id="form1" class="form-control" formControlName="email"
                placeholder="usuario@email.com" />

            <div *ngIf="email.invalid && formDir.submitted" class="validation-error">
                <p *ngIf="email.errors?.['required']">O campo E-mail da Usuario é obrigatório.</p>

            </div>

            <!-- Imagem input -->
            <div class="form-outline mb-4">
                <label for="form5Example1" class="form-label">Senha</label>
                <input type="text" id="form5" class="form-control" formControlName="senha"
                    placeholder="Escolha uma senha" />
                <div *ngIf="senha.invalid && formDir.submitted" class="validation-error">
                    <p *ngIf="senha.errors?.['required']">O campo Nome da Usuario é obrigatório.</p>

                </div>
            </div>
        </div>

        <!-- Submit button -->
        <div class="submit">
            <button type="submit" class="btn btn-outline-success btn-rounded">Cadastrar</button>
            <button type="" class="btn btn-outline-danger btn-rounded" [routerLink]="['/Usuarios']"> Cancelar
            </button>
        </div>
    </form>
</div>